.Inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -10px;
    background: rgb(87, 255, 205);
}

nav a {
    padding: 10px 20px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 3px 3px black;
}

.Home {
    padding: 20px;
    background-color: black;
    
}

img {
    width: 40%;
}

body {
    background-color: beige;
}

.localizacao {
    display: flex;
    flex-direction: row;       /* lado a lado (desktop) */
    gap: 24px;
    align-items: flex-start;   /* alinha topo dos conteúdos */
    justify-content: center;   /* centra o conjunto na largura do pai */
    padding: 20px;
    box-sizing: border-box;
}

.imagem {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}


@media(max-width:600px) {
    body {
        .localizacao {
            display: grid;
            flex-direction: column;
        }

        .localizacao-tex {
            text-align: center;
        }
    }
}